<div *ngIf="range">
	<h2>{{range.rangeName}} details!</h2>
	<div>
		<label>id: </label>{{range.rangeId}}
	</div>
	<div>
		<label>name: </label> <input [(ngModel)]="range.rangeName"
			placeholder="name" />
	</div>
	<button (click)="goBack()">Back</button>
	<button (click)="save()">Save</button>
	<div class="grid grid-pad">
		<a *ngFor="let mtxItem of getRangeTable()"
			[routerLink]="['/detail', range.rangeId]" class="col-1-11">
			<div class="module range">
				<h4>{{mtxItem.val}}</h4>
			</div>
		</a>
	</div>
</div>
