h1 {
	font-size: 1.2em;
	color: #FF7777;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	margin-top: 0;
	padding-top: 0;
}

nav a {
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	background-color: #AA5555;
	border-radius: 4px;
}

nav a:visited, a:link {
	color: #FFCCCC;
}

nav a:hover {
	color: #222222;
	background-color: #880000;
}

nav a.active {
	color: #222222;
}